asgiref
certifi
cloudinary
dj-database-url
Django
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
environs
gunicorn
marshmallow
packaging
Pillow
psycopg2-binary
PyJWT
python-dotenv
pytz
six
sqlparse
typing_extensions
urllib3
whitenoise
