.container {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}


table.tasks-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

table.tasks-table th {
  background-color: #f6f9fc;
  color: #425a70;
  font-weight: bold;
  padding: 15px;
  border: 1px solid #dddddd;
  text-align: left;
}

table.tasks-table td {
  padding: 30px;
  border: 1px solid #dddddd;
  text-align: left;
  font-size: 14px;
}

table.tasks-table td a {
  color: #425a70;
  text-decoration: none;
  font-size: 14px;
}

.task-title{
  text-decoration: underline;
}

table.tasks-table td a:hover {
  color: #006699;
}

/* Add styling for the statuses */
table.tasks-table td.status {
  text-align: center;
  font-weight: bold;
}

table.tasks-table td.status.in-review {
  color: #ffc107;
}
table.tasks-table td.status.suspended {
  color: #6c757d;
}
table.tasks-table td.status.in-progress {
  color: #007bff;
}
table.tasks-table td.status.completed {
  color: #28a745;
}
table.tasks-table td.status.not-started {
  color: #f44336;
}

table.tasks-table tr:hover {
  background-color: #f6f9fc;
}

a.create-button {
  background-color: #6a82f9;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

a.create-button:hover {
  background-color: #82a4fa;
}


.filter {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #f6f6f6;
  border-radius: 4px;
  margin-bottom: 16px;
}

.filter input[type='submit'] {
  background-color: #6a82f9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.filter select, .filter input[type='text'] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  margin-right: 10px;
}

.filter select {
  background-color: #f0f0f0;
}

.filter input[type='text'] {
  background-color: #ffffff;
}

.filter input[type='submit']:hover {
  background-color: #82a4fa;
}
